.jss215 {
  background-color: #FDF4E7;
}

.jss424 {
  border: 1px solid #7d7d7d;
}

.advc {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  gap: 8px 8px;
  grid-auto-flow: row;
  padding: 10px;
  border: 1px solid #7d7d7d;
  margin-bottom: 20px;
  grid-template-areas: "advc_title" "advc_stage";
}
.advc .advc_title {
  grid-area: advc_title;
}
.advc .advc_title label {
  font-size: 16px;
  font-weight: 500;
}
.advc .advc_stage {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 0px 8px;
  grid-auto-flow: row;
  grid-template-areas: "lb slctbox";
  grid-area: advc_stage;
}
.advc .advc_stage .lb {
  grid-area: lb;
  justify-self: stretch;
  align-self: center;
}
.advc .advc_stage .lb label {
  padding-left: 7px;
}
.advc .advc_stage .lb label Span {
  color: red;
}
.advc .advc_stage .slctbox {
  grid-area: slctbox;
}
.advc .advc_stage .slctbox #nTbcBfQZW9X-DTIsk9cDl8u-val {
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  grid-auto-columns: 1fr;
  gap: 8px 8px;
  grid-auto-flow: row;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #7d7d7d;
  grid-template-areas: "lb_need g_need" "lb_brief g_brief" "lb_details g_details";
}
.card .lb_need {
  grid-area: lb_need;
  justify-self: stretch;
  align-self: center;
}
.card .lb_need label {
  padding-left: 7px;
}
.card .lb_need label Span {
  color: red;
}
.card .g_need {
  grid-area: g_need;
}
.card .g_need #nTbcBfQZW9X-sA82BaO7QQa-val {
  width: 100%;
}
.card .lb_brief {
  grid-area: lb_brief;
  justify-self: stretch;
  align-self: center;
}
.card .lb_brief label {
  padding-left: 7px;
}
.card .lb_brief label Span {
  color: red;
}
.card .g_brief {
  grid-area: g_brief;
}
.card .g_brief #nTbcBfQZW9X-rHGuINTVs2L-val {
  width: 100%;
}
.card .lb_details {
  grid-area: lb_details;
  justify-self: stretch;
  align-self: center;
}
.card .lb_details label {
  padding-left: 7px;
}
.card .lb_details label Span {
  color: red;
}
.card .g_details {
  grid-area: g_details;
}
.card .g_details #nTbcBfQZW9X-w7mtkLzijNL-val {
  width: 100%;
}

.uploads {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-auto-columns: 1fr;
  gap: 8px 8px;
  grid-auto-flow: row;
  padding: 10px;
  border: 1px solid #7d7d7d;
  grid-template-areas: "uft uit" "uf1 ui1" "uf2 ui2" "uf3 ui3";
}
.uploads .uft {
  grid-area: uft;
  align-self: center;
  padding: 8px;
  border-bottom: 1px solid #7d7d7d;
}
.uploads .uft label {
  font-size: 16px;
  font-weight: 500;
  padding-left: 7px;
}
.uploads .uft label Span {
  color: red;
}
.uploads .uit {
  grid-area: uit;
  align-self: center;
  padding: 8px;
  border-bottom: 1px solid #7d7d7d;
}
.uploads .uit label {
  font-size: 16px;
  font-weight: 500;
  padding-left: 7px;
}
.uploads .uit label Span {
  color: red;
}
.uploads .uf1 {
  grid-area: uf1;
  justify-self: start;
  align-self: center;
  padding: 8px;
}
.uploads .ui1 {
  grid-area: ui1;
  justify-self: start;
  align-self: center;
  padding: 8px;
}
.uploads .uf2 {
  grid-area: uf2;
  justify-self: start;
  align-self: center;
  padding: 8px;
}
.uploads .ui2 {
  grid-area: ui2;
  justify-self: start;
  align-self: center;
  padding: 8px;
}
.uploads .uf3 {
  grid-area: uf3;
  justify-self: start;
  align-self: center;
  padding: 8px;
}
.uploads .ui3 {
  grid-area: ui3;
  justify-self: start;
  align-self: center;
  padding: 8px;
}

/*# sourceMappingURL=main.css.map */
